<!-- Header -->

<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 hidden-sm hidden-xs contact">
        <a href="tel:{{ companyInformation.companyTelephone }}"><span>CALL </span>{{ companyInformation.companyTelephone }}</a>
        <a href="mailto:{{ companyInformation.companyEmail }}">{{ companyInformation.companyEmail }}</a>
      </div>
      <div class="col-xs-10 col-md-4 main-logo">
        <a href="/"><img src="/assets/images/mortgages4plymouth-logo.png" alt="Main Mortgages 4 Plymouth Logo"></a>
      </div>
      <div class="col-xs-2 col-md-4 menu">
        <!-- Burger Menu -->
         <div id="main-menu">
             <p class="menu-title">Menu</p>
             <button class="burger menu-burger">
               <span class="line line01"></span>
               <span class="line line02"></span>
               <span class="line line03"></span>
             </button>

         </div>
      </div>
    </div>
  </div>
  <nav id="dropdown-menu" >
    <div>
      <p>How can we help?</p>
        <ul class="menu-nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">The Team</a></li>
          <li><a href="#">First Time Buyers</a></li>
          <li><a href="#">Buy to Let Mortgages</a></li>
          <li><a href="#">Buy to Let</a></li>
          <li><a href="#">Re-Mortgages</a></li>
          <li><a href="#">Homemover</a></li>
          <li><a href="#">Armed Forces</a></li>
          <li><a href="#">What our Clients say</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
  </nav>
</header>
