
header{
  display: block;
  padding: 25px 0;
  font-family: $proxima-nova;
  &.fix-header{
    position: fixed;
    z-index: 3;
    left:0;
    right:0;
    transition: 0.3s ease;
    &.active{
      background: $white;
      opacity: 0.9;
    }
  }
  .main-logo{
    img{
      display: block;
      max-width: 369px;
    }
  }
  .menu{
    text-align: right;
    text-transform: uppercase;
  }
  @media (min-width: 992px){
    .main-logo{
      img{
        margin-top: 55px;
        max-width: 466px;
      }
    }
    .contact{
      a{
        font-size: 28px;
        color:$brandingBlue;
        margin-bottom: 10px;
        display: block;
        font-weight: 600;
        span{
          text-transform: uppercase;
          color:$white;
        }
        &:last-of-type{
          font-size: 17px;
          color:$brandingBlue;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
    &.fix-header{
        &.active{
          .main-logo{
            img{
              margin-top: 0;
            }
          }
          .contact{
            a{
              span{
                color:$green;
              }
            }
          }
        }
    }
  }
}
.spacer{
  height:126px;
}

.homepage-background{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  min-height:1075px;
  padding-top:200px;
  h1{
    @extend .medium;
    text-align: center;
    color:$brandingBlue;
    font-size: $xlarge-font;
    span{
      color:$green;
    }
  }
  @media (min-width: 767px) {
    h1{
      font-size: $xxlarge-font;
    }
  }
}
