{% extends "_layouts/errors" %}

{% set error = "400" %}
{% set title = error ~ " Bad Request"|t %}

{% block content %}
  <main>
    {# <a class="logo" href="/" title="Home">{{ sprite('logo') }}</a> #}
    <h1>400: Bad Request</h1>
    <p>{{ "The request could not be understood by the server due to malformed syntax."|t }}</p>
    <button onclick="history.back(-1)">Go back</button>
  </main>
{% endblock %}
